.dashboard-container {
  padding: 20px;
}


.dashboard-container h1 {
  margin-bottom: 5px;
}


.dashboard-container p {
  color: #666;
}


.card-container {
  display: flex;
  gap: 25px;
  margin-top: 30px;
}


.dashboard-card {
  width: 250px;
  padding: 25px;

  background: white;

  border-radius: 10px;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);

  text-align: center;
}


.dashboard-card h2 {
  font-size: 18px;
  color: #555;
}


.dashboard-card h1 {
  font-size: 25px;
  color: #3f51b5;
}

.user-card {

  width: 100% - 40px;
  padding: 20px;

  background: white;

  border-radius: 10px;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);

  margin-bottom: 25px;
}


.user-card h2 {
  margin: 0;
  color: #3f51b5;
}


.user-card p {
  margin-top: 8px;
  color: #555;
}

.action-container {

  display: flex;
  gap: 25px;

  margin-top: 30px;
}


.action-card {

  flex: 1;

  padding: 25px;

  border-radius: 12px;

  background: white;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);

  text-align: center;
}


.action-card h2 {
  margin-bottom: 10px;
}


.action-card p {
  color: #666;
}


.action-card button {
  margin-top: 15px;
  padding: 10px 30px;

  border: 1px solid white;
  border-radius: 5px;

  background: transparent;
  color: white;

  font-size: 15px;
  cursor: pointer;

  transition: 0.3s;
}

.action-card button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.checkin button {
  background: #2e7d32;
}


.checkout button {
  background: #c62828;
}